* {
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}

.header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 26px;
}

.main-left {
    width: 200px;
}

.main-parent {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;


}

.main-right img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.main-parent button {
    font-size: bold;
    border: none;

    font-weight: 30px;
    border-radius: 8px;
    padding: 16px 30px;
    margin-top: 30px;
    background-color: rgb(236, 169, 24);
    padding: 10px 10px;
}
/* .footer {
    /* background-color: rgb(222, 136, 25);
    background-color: orange;
    display: flex;
    justify-content: space-between;

    
    
} */
.footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: 26px;
    font-size: 30px;
    padding: 8px;
    color: white;
    background-color: black;
  
}
.footer p {
    
    font-size: 30px;
    padding: 8px;
} 




@media screen and ( max-width: 600px)  {

    .header ul {
        display: none;
    }

    .main-parent {
        flex-direction: column;
    }

    .main-left {
        padding-left: 50px;
        
    }

    .main-right {
        padding-top: 20px;
        padding-left: 40px;
    }

    .header h1 {
        padding-right: 30px;
    }

    
    
    }
    
    
    
    